<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>First Letter Capitalize</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
  <div class="form-body">
  <form action="/submit" method="POST">
    <h1>Capitalize the First Letter</h1>
    <label for="name">Enter Your Name:</label>
    <input type="text" name="name" id="name" placeholder="Enter Your Name" required>
    <button type="submit">Generate</button>
    <% if (fullName) { %>
      <h2>Processed Name: <%= fullName %></h2>
    <% } %>
  </form>
</div>

  <!-- Display the processed name if available -->

</body>
</html>
